<h1>User's Accounts</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Balance</th>
            <th scope="col">User</th>
            <th scope="col">Advisor</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let unCompte of listCompte">
            <td>{{unCompte.idcompte}}</td>
            <td>{{unCompte.nomcompte}}</td>
            <td>{{unCompte.soldecompte}}</td>
            <td>{{unCompte.client.nomuser}}-{{unCompte.client.prenomuser}}</td>
            <td>{{unCompte.conseiller.nomuser}}-{{unCompte.conseiller.prenomuser}}</td>
            <td>
                <a [routerLink] = "['/compte/update/'+unCompte.idcompte]" class="btn btn-primary btn-sm"> Edit </a>
                <a [routerLink] = "['/compte/byid/'+unCompte.idcompte]" class="btn btn-secondary btn-sm">Operations</a>
               <!-- <a type="submit" class="btn btn-danger btn-sm" (click)='deleteCompte(unCompte.idcompte)' name="unCompte.idcompte" >Close</a>-->
            </td>
        </tr>
    </tbody>
</table>